// UNSW Katana nf-core configuration profile


params {
    config_profile_description = 'UNSW Katana HPC profile for nf-core/proteinfold'
    config_profile_contact = '@jscgh'
    config_profile_url = 'https://docs.restech.unsw.edu.au/'
}

process {
//    executor = 'pbspro'
    queue = 'submission'

    resourceLimits = [
    memory: 500.GB,
    cpus: 32,
    time: 200.h
    ]

    // TODO nf-core: Check the defaults for all processes
    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    withLabel:process_single {
        cpus   = { 1                       }
        memory = { 6.GB     * task.attempt }
        time   = { 4.h      * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2        * task.attempt }
        memory = { 12.GB    * task.attempt }
        time   = { 4.h      * task.attempt }
    }
    withLabel:process_medium {
        cpus     = { 6           * task.attempt }
        memory   = { 100.GB      * task.attempt }
        time     = { 8.h         * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 8        * task.attempt }
        memory = { 125.GB   * task.attempt }
        time   = { 16.h     * task.attempt }
    }
    withLabel:process_long {
        time   = { 24.h     * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 250.GB   * task.attempt }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 1
    }
    withLabel:gpu_compute {
        accelerator         = 1
        clusterOptions      = { "-l host=k095 -l ngpus=1 -l ncpus=${task.cpus} -l mem=${task.memory.toMega()}mb" }
    }

    withName: 'RUN_HELIXFOLD3' {
        containerOptions    = "--bind \${TMPDIR}:/tmp,\${PWD} --env CUDA_VISIBLE_DEVICES=0"
    }
}
